<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
  <appSettings>
    <add key="OAWebApiURL" value="http://pt-uat.perfect99.com:8888/services/BzService?wsdl" />
    <add key="K3WebApiURL" value="http://localhost:88/IDepartment.asmx?wsdl" />
    <!--<add key="K3WebApiURL" value="http://192.168.0.60:8787/IDepartment.asmx?wsdl" />-->
  </appSettings>
</configuration>
