<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BzServiceHttpBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://pt-uat.perfect99.com:8888/services/BzService"
                binding="basicHttpBinding" bindingConfiguration="BzServiceHttpBinding"
                contract="FrameWork.WebService.DynamicWebServiceCalling.Bm_Info.BzServicePortType"
                name="BzServiceHttpPort" />
        </client>
    </system.serviceModel>
</configuration>
