<?xml version="1.0"?>
<configuration>
  <!--<appSettings/>-->
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <dataConfiguration defaultDatabase="ConnStr"/>
  <connectionStrings>
    <!--正式-->
    <!--<add name="ConnStr" connectionString="Database=AIS20111228;Server=192.1.1.230;User ID=sa;Password=sa;" providerName="System.Data.SqlClient"/>-->
    <!--测试-->
    <!--<add name="ConnStr" connectionString="Database=AIS20121213154407;Server=192.1.1.230;User ID=sa;Password=sa;" providerName="System.Data.SqlClient"/>-->
    <add name="ConnStr" connectionString="Database=AIS20121019142414;Server=192.168.1.116;User ID=sa;Password=kindee;" providerName="System.Data.SqlClient"/>
    <add name="ConnStrMySql" connectionString="Database=ax;Server=192.1.1.241;User=k3;Password=k3select;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
      通过 <authentication> 节，可配置 
      ASP.NET 用于识别进入用户的 
      安全身份验证模式。
    -->
    <authentication mode="Windows"/>
    <!--
       通过 <customErrors> 节，可以配置
       在执行请求的过程中出现未处理的错误时要执行 
       的操作。具体而言，
       开发人员通过该节可配置要显示的 html 错误页，
       以代替错误堆栈跟踪。

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <httpRuntime requestValidationMode="2.0" maxRequestLength="10240" appRequestQueueLimit="100" useFullyQualifiedRedirectUrl="true" executionTimeout="1200"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <webServices>
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>
  </system.web>
</configuration>